# Standard Normal Distribution - Lab

## Introduction

In the previous lesson, we looked at the formula and a few toy examples to explain an observation's standard score and data standardization for normally distributed data. This lab, will shall standardize and visualize some normal distributions before we see standardization's real impact in machine learning in upcoming lessons. 

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before-after standardization to visually inspect the results. 

## Let's get started

> A Z-score tells us “how many standard deviations above or below the mean.” Every time you obtain a Z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

**1. Load, visualize and give general comments on the dataset. Use pandas for loading and inspecting the data.**

In [9]:
# Import libraries
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np 
import pandas as pd 

# Read the yield data as a dataframe
df = pd.read_csv("yield.csv")

            0
0   39.741234
1   39.872055
2   44.331164
3   46.600623
4   40.694984
5   40.969819
6   48.981105
7   43.240146
8   46.301977
9   45.380994
10  37.532947
11  47.983207
12  45.616207
13  40.053668
14  42.577577
15  39.532416
16  44.545678
17  37.406899
18  35.350919
19  50.087628
20  47.869013
21  40.158646
22  37.642567
23  46.679956
24  37.235307
25  48.808625
26  38.398650
27  44.283441
28  48.710395
29  42.667578
..        ...
70  28.644674
71  31.041054
72  28.915513
73  51.372631
74  39.867654
75  38.414032
76  49.628651
77  40.896014
78  52.183482
79  42.485320
80  41.792865
81  38.497387
82  38.467990
83  42.311947
84  41.971490
85  35.623942
86  42.500057
87  35.137901
88  36.920599
89  41.379048
90  36.573652
91  40.591567
92  30.736072
93  37.878158
94  42.918695
95  47.424891
96  35.513100
97  34.416196
98  37.383200
99  46.858362

[100 rows x 1 columns]

In [35]:
# Your comments about the data here.

**2. Write a simple sentence to explain what does each value represent in this data?**

In [ ]:
# Your answer here
Each value represents the combined weight of apples from a single tree

**3. What does the 3-sigma rule say about yields of trees ?**

In [16]:
from scipy import stats

In [19]:
# Perform any calculations necessary here
mu = df.mean()
sigma = df.std()
upper_z = (.8531 * sigma) + mu 
lower_z = (stats.norm.cdf(-1.0)*sigma)+ mu
lower_z

0    43.360142
dtype: float64

In [23]:
# Write your answer here

**4. Compute the Z-score for a tree yielding 35 pounds of apples. Interpret this Z-score.**

In [21]:
# Calculate 
z = (35.0 - mu)/sigma
z

0   -1.233844
dtype: float64

In [22]:
# Interpret the result
stats.norm.cdf(-1.23384)

0.10863126546316504

**5. Suppose a tree has a Z-score of 1.85. Interpret this Z-score. What is the yield of this tree?**

In [27]:
# Interpret the z score
stats.norm.cdf(1.85)
yld = (1.85*sigma)+mu

In [28]:
# Calculate yield
yld

0    53.514462
dtype: float64

In [6]:
# What is the yield ?

**6. Convert each tree’s yield is converted to a Z-score so that “new” derived variable is “Z-score for weight”. The units are still the apple trees. For the data set of all Z-scores:**
* What is the shape? 
* The mean? 
* The standard deviation?

In [34]:
# Give your solution here
z_score = (df - mu)/sigma 
z_score

             0
0    -0.444125
1    -0.422335
2     0.320393
3     0.698403
4    -0.285264
5    -0.239487
6     1.094906
7     0.138668
8     0.648659
9     0.495257
10   -0.811946
11    0.928692
12    0.534435
13   -0.392084
14    0.028308
15   -0.478906
16    0.356123
17   -0.832941
18   -1.175393
19    1.279213
20    0.909671
21   -0.374599
22   -0.793687
23    0.711617
24   -0.861522
25    1.066177
26   -0.667751
27    0.312444
28    1.049815
29    0.043299
...        ...
4970 -0.383577
4971 -0.093924
4972  0.220139
4973 -0.844333
4974  1.666715
4975 -0.180472
4976 -2.010264
4977  0.471804
4978  0.904203
4979 -1.302588
4980  0.960468
4981 -0.460034
4982 -0.016542
4983  0.586477
4984 -0.954641
4985 -1.219308
4986 -1.135474
4987 -0.458902
4988 -0.035382
4989 -1.411812
4990  0.415118
4991 -0.814562
4992  0.797660
4993 -1.015009
4994 -0.648765
4995 -0.561300
4996  1.574607
4997 -0.993766
4998  0.023595
4999 -1.267422

[5000 rows x 1 columns]

In [48]:
# Your observations
z_score.describe()
z_score.sort_values(by 0)

SyntaxError: invalid syntax (<ipython-input-48-1d3ccccb5dd9>, line 3)

## Summary 

In this lab, you practiced your knowledge on the standard normal distribution!